header {
  font-family: helvetica; 
  font-size: .75em;
  text-align: center;
  text-indent: 10px;
  background: #FF0080;
  color: #00FFFF;
  padding: .25em 0;
}

h1 {
  margin: 3em 0 .25em 0;
}

h2 {
  margin: 0 0 1em 0;
  font-size: 1em;
}

ul {
	list-style-type: none;
}

#dogs li:nth-child(4n) {
	clear: top;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: 00FFFF;
}

a:hover {
  color: #FF1493;
}

a:active {
  color: purple;
}

body {
  background: yellow;
}


img {
    display: block;
    float: left;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

}


#wrap {
  min-height: 100vh;
}

